nav {
    background-color: #7851A9;
    display: flex;
    

        h3 {
            width: 200px;
            color: #fff;
            font-size: 2rem;
        }

        div {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                transition: .3s;
                color: #fff;
                text-decoration: none;
                margin: 0 20px;
                font-size: 2rem;

                    &:hover {
                        transition: .3s;
                        color: #FFD893;
                    }
            }
        }

        button {
            transition: .3s;
            width: 200px;
            color: #fff;
            font-size: 2rem;
            background-color: #7851A9;
            border: none;

                &:hover {
                    transition: .3s;
                    cursor: pointer;
                    color: #FFD893;
                }
        }
}