.company-matches-page-container {
  margin: 0 auto;

  nav {
    background-color: #7851A9;
    display: flex;


    h3 {
      color: #fff;
      font-size: 2rem;
      margin-left: 10px;
    }

    div {
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        transition: .3s;
        color: #fff;
        text-decoration: none;
        margin: 0 20px;
        font-size: 2rem;

        &:hover {
          transition: .3s;
          color: #FFD893;
        }
      }
    }
  }
}